@import "./techiuse.css";
@import "./global.css";
* {
  box-sizing: border-box;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.navigation a {
  justify-content: flex-end;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}
.navigation a:hover {
  background: #607EAA;
  transition: 0.8s;
}
.head2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border:1px groove black;
}
.head2 img{
    display: flex;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-position: 15px;
    
}
.boatimg{
  display: flex;
  width: 90px;
}
.archeryimg{
  display:flex;
  width:90px;
}
.airplaneimg{
  display:flex;
  width:90px;
}
.nameAboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutmetext{
  display: flex;
  justify-content: center;
  align-items: center;
}
.midleSection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border:1px groove black;
}
.endSection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border:1px groove black;
}
.hobbies{
  display: flex;
  justify-content: center;
  align-items: center;

}
.hobbieslist{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}